In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import seaborn as sns

In [2]:
# iterate through API requests. Records are stored in 'collected_data'
# this cell takes approximately 5 minutes to run

collected_data = []

for i in range(1,500,1):
    request_string = "https://api.themoviedb.org/3/discover/movie?api_key=afc7201593c1f2fc08c24eec64fabc88&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&primary_release_date.lte=2019-12-30&primary_release_date.gte=2000-01-01&page="+str(i)
    data = requests.get(request_string)
    data = data.json()['results']
    for item in data:
        collected_data.append(item)

In [3]:
#load data into dataframe
# df = pd.DataFrame(collected_data)

In [4]:
df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/wFN8llYh215M8i2fqWAcPV8CSyL.jpg,"[28, 12, 16, 35, 10751, 14]",49519,en,The Croods,The prehistoric Croods family live in a partic...,373.299,/27zvjVOtOi5ped1HSlJKNsKXkFH.jpg,2013-03-20,The Croods,False,6.9,5021
1,False,/9guoVF7zayiiUq5ulKQpt375VIy.jpg,"[16, 28, 35, 14, 12]",592350,ja,僕のヒーローアカデミア THE MOVIE ヒーローズ：ライジング,Class 1-A visits Nabu Island where they finall...,332.804,/zGVbrulkupqpbwgiNedkJPyQum4.jpg,2019-12-20,My Hero Academia: Heroes Rising,False,8.5,525
2,False,/6iUNJZymJBMXXriQyFZfLAKnjO6.jpg,"[28, 12, 14]",297762,en,Wonder Woman,An Amazon princess comes to the world of Man i...,318.625,/gfJGlDaHuWimErCr5Ql0I8x9QSy.jpg,2017-05-30,Wonder Woman,False,7.3,15558
3,False,None,[],749336,en,Star Wars: Wrath of the Mandalorian,"Years after the Clone Wars end, Darth Vader se...",248.752,/ksil1FjB7AfNk34LAti0636pyTd.jpg,2008-07-06,Star Wars: Wrath of the Mandalorian,False,7.4,15
4,False,/4dtbvoAaqiM3fVwzdffLxUdAiY6.jpg,"[10751, 35, 14]",8871,en,How the Grinch Stole Christmas,Inside a snowflake exists the magical land of ...,234.077,/1WZbbPApEivA421gCOluuzMMKCk.jpg,2000-11-17,How the Grinch Stole Christmas,False,6.7,4915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,False,/3VTif2JwpBPKdrQnIdTbbs1Fxau.jpg,"[14, 878, 10751, 10770]",68591,en,Snowglobe,A young woman discovers a Christmas-themed dre...,7.295,/8MCX4KlF8O3cdoSiX1jiUsyVXMp.jpg,2007-12-15,Snowglobe,False,6.2,38
9976,False,/p8oxdizsjwFmEmI70gkBPe3XpwU.jpg,"[10749, 10770, 35]",474979,en,Royal New Year's Eve,An aspiring fashion designer falls in love wit...,7.294,/rWwWwJb9F32xsLQ382Qd0e0hsML.jpg,2017-12-30,Royal New Year's Eve,False,6.2,53
9977,False,None,[16],284866,en,Sonic Prologue,Take a step back in time as Sonic the Hedgehog...,7.294,/h4Pl9047A2sX97DLruAy5DbXgqj.jpg,2014-08-02,Sonic Prologue,False,8.9,4
9978,False,/gHUDHuwEOnHrMihVB0oW8TCnBGF.jpg,"[35, 99]",473812,en,Jerry Before Seinfeld,Jerry Seinfeld returns to the club that gave h...,7.293,/1HsldceVUztgRztwp3pOaVRJVlp.jpg,2017-09-19,Jerry Before Seinfeld,False,6.9,77
9979,False,/4NMit7ynHRepDYfgNSX4VU3pQU1.jpg,"[35, 18]",358725,fr,Saint Amour,"Every year, Bruno makes a tour of all the wine...",7.293,/A9wTBWnx6nKitul3vjKHrRKjWRk.jpg,2016-03-02,Saint Amour,False,5.9,111

In [5]:
# The 'discover' API is missing budget, revenue, imdb_id, and runtime
# these can be pulled from the 'movie' API call. this cell prepares for the next for loop to pull this required data
budget = []
imdb_id = []
revenue = []
runtime = []
production_companies = []
production_countries = []
genres = []

In [6]:
#create a list of tmdb-movie-ids to iterate through. each id will be used in its own API call
#for each movie_id defined above, call API to to retrieve budget, revenue, imdb_id, runtime.
#tmdb data structure isn't uniform. movie dictionaries do not necessarily have all keys.
#to get around this, we used try/except
#this cell takes about 30 minutes to run
movie_ids = list(df['id'])
for movie_id in movie_ids:
    request_string = "https://api.themoviedb.org/3/movie/"+str(movie_id)+"?api_key=afc7201593c1f2fc08c24eec64fabc88&language=en-US"
    data = requests.get(request_string)
    data = data.json()
    try:
        budget.append(data['budget'])
    except:
        budget.append(" ")
    try:
        imdb_id.append(data['imdb_id'])
    except:
        imdb_id.append(" ")
    try:
        revenue.append(data['revenue'])
    except:
        revenue.append(" ")
    try:
        runtime.append(data['runtime'])
    except:
        runtime.append(" ")
    try:
        production_companies.append(data['production_companies'])
    except:
        production_companies.append(" ")
    try:
        production_countries.append(data['production_countries'])
    except:
        production_countries.append(" ")
    try:
        genres.append(data['genres'])
    except:
        genres.append(" ")

In [7]:
# Finally append the new columns to the final DataFrame
df['budget']=budget
df['imdb_id']=imdb_id
df['runtime']= runtime 
df['production_companies']=production_companies
df['production_countries']=production_companies
df['genres']=genres
df['revenue']=revenue

In [8]:
#save raw API results to csv
df.to_csv('tmdb_raw.csv',index=False)

In [2]:
#load raw data from csv
df=pd.read_csv('tmdb_raw.csv')

In [3]:
df

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,...,vote_average,overview,release_date,budget,imdb_id,runtime,production_companies,production_countries,genres,revenue
0,91.270,14356,False,/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg,475557,False,/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg,en,Joker,"[80, 18, 53]",...,8.2,"During the 1980s, a failed stand-up comedian i...",2019-10-02,55000000,tt7286456,122,"[{'id': 9993, 'logo_path': '/2Tc1P3Ac8M479naPp...","[{'id': 9993, 'logo_path': '/2Tc1P3Ac8M479naPp...","[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",1074251311
1,80.814,19360,False,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,299536,False,/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg,en,Avengers: Infinity War,"[28, 12, 878]",...,8.3,As the Avengers and their allies have continue...,2018-04-25,300000000,tt4154756,149,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",2046239637
2,70.987,26863,False,/9gk7adHYeDvHkCSEqAvQNLV5Uge.jpg,27205,False,/s3TBrRGB1iav7gFOCNx3H31MoES.jpg,en,Inception,"[28, 12, 878]",...,8.3,"Cobb, a skilled thief who commits corporate es...",2010-07-15,160000000,tt1375666,148,"[{'id': 923, 'logo_path': '/5UQsZrfbfG2dYJbx8D...","[{'id': 923, 'logo_path': '/5UQsZrfbfG2dYJbx8D...","[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",825532764
3,73.550,16653,False,/rAGiXaUfPzY7CDEyNKUofk3Kw2e.jpg,271110,False,/7FWlcZq3r6525LWOcvO9kNWurN1.jpg,en,Captain America: Civil War,"[28, 12, 878]",...,7.4,"Following the events of Age of Ultron, the col...",2016-04-27,250000000,tt3498820,147,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",1153296293
4,51.885,157,False,/ijJm0RSeKIr67qkHLtSmtigS6ra.jpg,430155,False,/8HbqSozBJxv6UldR9lMUECUlbLI.jpg,ru,Кома,"[28, 14, 878]",...,6.0,A young and talented architect comes to his se...,2019-11-19,4000000,tt6087226,111,"[{'id': 29924, 'logo_path': None, 'name': 'Fre...","[{'id': 29924, 'logo_path': None, 'name': 'Fre...","[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",2363584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,7.293,814,False,/2uu8fIzl76C9MFiUQhjKYSLKVq.jpg,393559,False,/39KCF3nZUG0b2GPE5vCeMm0kSf9.jpg,fr,Ma vie de courgette,"[16, 18, 10751]",...,7.8,"After his mother’s death, Zucchini is befriend...",2016-10-12,8000000,tt2321405,66,"[{'id': 4621, 'logo_path': None, 'name': 'Gébé...","[{'id': 4621, 'logo_path': None, 'name': 'Gébé...","[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",5873256
9976,7.240,699,False,/el4obM1DT1o4k7xGowuhtrUmW13.jpg,344268,False,/gZ1djTrjbVRsulDWGmXTHshh4IU.jpg,fr,Les Nouvelles Aventures D'Aladin,[35],...,4.8,A pair of losers working at department store p...,2015-10-14,0,tt4466864,107,"[{'id': 11773, 'logo_path': '/8fCjsqh43LbPV6pm...","[{'id': 11773, 'logo_path': '/8fCjsqh43LbPV6pm...","[{'id': 35, 'name': 'Comedy'}]",0
9977,9.253,42,False,/3UkmGmAIJPLpBH2TXzNDO8kykkw.jpg,340488,False,/eysCgsc8qLGgKE2OCZDXEYVdgz6.jpg,en,Salt and Fire,"[18, 53]",...,4.8,A scientist blames the head of a large company...,2016-12-07,0,tt4441150,98,"[{'id': 6692, 'logo_path': '/2Wd2CodKtgB4XyAQH...","[{'id': 6692, 'logo_path': '/2Wd2CodKtgB4XyAQH...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",0
9978,8.213,56,False,/nQPsMf7KMvII8KCF1pAYZkJMzjP.jpg,21141,False,/xhFkx7pnJCc1IuLTec48WqPdjXl.jpg,en,Simon Says,"[27, 53]",...,5.2,Five college friends choose to spend their vac...,2007-09-25,0,tt0458480,87,"[{'id': 5027, 'logo_path': '/7F7LEtukaW0aPRy1x...","[{'id': 5027, 'logo_path': '/7F7LEtukaW0aPRy1x...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",0
9979,4.933,4,False,/pI7PWrNLdgJY0r9NMasxxoS2zOU.jpg,569980,False,/696tmZ8yxCGFQXOGLvrUYxA5ux3.jpg,en,The Many Lives of Nick Buoniconti,[99],...,7.0,The story of Pro Football Hall of Famer Nick B...,2019-02-12,0,tt9377260,74,"[{'id': 14914, 'logo_path': '/1RZBWz53SpHUTLpR...","[{'id': 14914, 'logo_path': '/1RZBWz53SpHUTLpR...","[{'id': 99, 'name': 'Documentary'}]",0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34228 entries, 0 to 34227
Data columns (total 21 columns):
adult                   34228 non-null object
backdrop_path           9305 non-null object
genre_ids               34228 non-null object
id                      34228 non-null object
original_language       34228 non-null object
original_title          34228 non-null object
overview                34187 non-null object
popularity              9980 non-null float64
poster_path             9859 non-null object
release_date            9980 non-null object
title                   9980 non-null object
video                   9980 non-null object
vote_average            9980 non-null object
vote_count              9980 non-null object
budget                  9980 non-null object
imdb_id                 9805 non-null object
runtime                 9952 non-null object
production_companies    9979 non-null object
production_countries    9979 non-null object
genres                  9979 non-null object
revenue                 9979 non-null object
dtypes: float64(1), object(20)
memory usage: 5.5+ MB

In [4]:
# Separating our release date into year and month.
df['release_year'] = df['release_date'].apply(lambda x: int(x[0:4]))
df['release_month'] = df['release_date'].apply(lambda x: int(x[5:7]))
df.drop('release_date',axis= 1,inplace=True)

In [5]:
# Removing unnecessary information
df.drop(['poster_path','video','backdrop_path','adult','original_language','genre_ids','original_title'],axis=1,inplace=True)

#Rearranging columns with a more easy to read order.
new_col=[ 'id', 'title', 'imdb_id','genres','overview', 'budget', 'release_year','release_month','popularity', 'vote_count','vote_average','revenue', 'runtime','production_companies', 'production_countries']
df=df[new_col]
# Dropping irrelevant missing data 
to_drop=df[(df.production_companies==" ")|(df.imdb_id=='')].index#(df.revenue==0)|(df.budget==0)|(df.runtime.isna())].index
df.drop(to_drop,inplace=True)


# Unpacking dictionaries from strings
df.production_companies = [eval(key) for key in df.production_companies]
df.production_countries= [eval(key) for key in df.production_countries]
df.genres= [eval(key) for key in df.genres]

# Resetting the index to maintain cohesive rows.
df.reset_index(drop=True,inplace=True)

/Users/Vittorio/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/Vittorio/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [6]:
#convert revenue, runtime, budget to floats
df['revenue']=df.revenue.astype('float64')
df['runtime']=df.runtime.astype('float64')
df['budget']=df.budget.astype('float64')

/Users/Vittorio/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Vittorio/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Vittorio/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
# Exporting main DF so API is not needed to run.
df.to_csv('tmdb_master.csv',index=False)